#morte{
    display: flex;
    background-color:blue;
    padding:0%;
    width:100%;
    height:100%;
    margin-block-end: 0;
    margin-block-start: 0;
    margin:0%;
}
#morte .testi {
    display: inline-flex;
    width:100%;
    height:30%;
}
#morte .testi #testo{
width:50%;
height:auto;
display: inline-flex;
margin-left:none;
margin-right: 1%;
padding:0%;
justify-content:start;
}
#morte .testi #testo p{
    color:black ;
    font: size 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#morte .bare{
    display:inline-flexbox;
    width:100%;
    height:70%;
    background-color:blue;
}
